/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Listing page styles
*/


/* -------------------------------------------------- 
   To-do list and notes for development phase
-----------------------------------------------------
:: Find good colours for the 
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

a {
color: #15bb7e;
}

a:hover {
color: #3de1a5;
}

.gppbutton {
background-color: #15bb7e;
border-color: #078658;
}

.gppbutton:hover {
background-color: #3de1a5;
}

.header {
padding: 25px 0px 0px;
}

.header > div > a{
font-size: 1.8em;
font-weight: bold;
}

.header h2 {
font-size: 2em;
}

.header p {
margin: 0px;
}

.footer h4 {
font-size: 1.3em;
}

.content ul {
list-style: none;
}

.listing li {
color: #000;
}

.listing h5 {
color: #15bb7e;
}

.listing li:hover {
background-color: #d6d6d6;
color: #000;
}

dl.sub-nav dd.active a {
background-color: #15bb7e;
}

/* -----------------------------------------
   Listing page styles
----------------------------------------- */

.status {
text-align: center;
height: 75px;
border: 1px solid #000;
color: #fff;
padding: 25px 0px 15px 0px;
}

.completed {
background-color: #1c900c;
}

.in_progress {
background-color: #988800;
}

.received {
background-color: #3f3f3f;
}

.stopped {
background-color: #a2490d;
}

#add_worker_msg{
display: none;
}

#add_worker_msg span{
padding: 10px;
text-align: right;
border: 1px dotted #078658;
float: right;
width: 100%;
color: #078658;
}

#add_task_errors{
border: none;
}

#add_task_msg{
border: none;
}

#status_nav{
display: none;
position: relative;
margin-top: 25px;
}
#status_nav li{
float: left;
margin-left: 10px;
cursor: pointer;
}

/* -----------------------------------------
   Page Name 2
----------------------------------------- */


